body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #475e80b9;
}

.navbar {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center the items */
    justify-content: center;
    padding: 10px 20px;
}

/* .navbar-title {
    font-weight: bold;

}

.navbar-title a {
    color: #151F30;
    text-decoration: none; 
    padding: 5px 10px;
    transition: background-color 0.3s;

}

.navbar-title a:hover {
    background-color: white; 
    border-radius: 4px;
} */

.navbar-links ul {
    list-style: none; /* Remove default bullet points */
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox for the list items too */
    font-weight: bold;
}

.navbar-links li {
    margin-left: 40px; /* Spacing between links */
    margin-right: 40px;
}

.navbar-links a {
    color: #151F30;
    text-decoration: none; /* Remove default underlines from links */
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    background-color: white; /* Hover effect */
    border-radius: 4px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main img {
    display: flex;
    max-width: 500px;
    height: auto;
    display: block;
    padding-top: 10px
}

main p{
    display: flex;
    justify-content: center;
    color: #151F30;
    font-weight: bold;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-1 p{
    color: #151F30;
    font-weight: bold;
}

.container-1 li{
    display: flex;
    list-style: none;
    color: #151F30;
    font-weight: bold;
}